@model ExpenseMeMVC.Handlers.Home.BadgersViewModel

<div class="row">
    <ul class="nav nav-pills">
        <li role="presentation" class="list-group-item  col-md-offset-2">
            <a href="approvals/list">
                <span class="glyphicon glyphicon-ok col-md-1" aria-hidden="true"></span>
                <span class="">&nbsp;Approvals</span>&nbsp;
                <span class="badge">@Model.ApprovalCount</span>
                <span class=""></span>
            </a>
        </li>
        <li role="presentation" class="list-group-item">
            <a href="expense/transactions">
                <span class="glyphicon glyphicon-tasks col-md-1" aria-hidden="true"></span>
                <span class="">&nbsp;Transactions</span>&nbsp;
                <span class="badge">@Model.TransactionCount</span>
                <span class=""></span>
            </a>
        </li>
        <li role="presentation" class="list-group-item">
            <a href="expense/addaclaim">
                <span class="glyphicon glyphicon-plus-sign col-md-1" aria-hidden="true"></span>
                <span class="">&nbsp;Add a Claim</span>
                <span class=""></span>
            </a>
        </li>
        <li role="presentation" class="list-group-item">
            <a href="expense/capture">
                <span class="glyphicon glyphicon-camera col-md-1" aria-hidden="true"></span>
                <span class="">&nbsp;Capture Receipt</span>
                <span class=""></span>
            </a>
        </li>
    </ul>

</div>